header, nav, footer, main {
  width: 95%;
  display: block;
  margin:10px auto;
}

#menu {
  float:left;
}

#template {
  height: 500px;
}


textarea {
  
  width:100%;
  margin:10px auto;
  height: 10em;
  padding: 10px;
}

div {
  
  width:100%;
  margin:10px auto;
  height: 200px;
  padding: 10px;
}

#question {
  height: 5em;
}
